body {
  background: #eee;
  overflow: hidden;
}

.news {
  width: 160px;
}

.news-scroll a {
  text-decoration: none;
}

.imgSize {
  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-right: 0px;
}

.card-image {
  height: 30px;
  width: 30px;
}

.modal-image {
  height: 25px;
  width: 25px;
}
.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

.bg-black {
  background-color: black;
}
