body {
  background: #eee;
  overflow: hidden;
}

.news {
  width: 160px;
}

.news-scroll a {
  text-decoration: none;
}

.imgSize {
  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-right: 0px;
}

.card-image {
  height: 30px;
  width: 30px;
}

.modal-image {
  height: 25px;
  width: 25px;
}
.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

.bg-black {
  background-color: black;
}

.searchResults {
  list-style-type: none;
  overflow: auto;
  max-height: 200px;
  max-width: 200px;
  position: absolute;
  background-color: darkgrey;
  z-index: 1;
  padding: 0;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.searchResults li {
  padding: 8px 8px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchResults li:hover {
  background-color: gray;
  font-weight: bolder;
  cursor: pointer;
}

.list-group-item {
  text-align: center;
}
